@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Comments.OrderCommentViewModel>
@{
    ViewBag.Title = "_ViewCommentsPartial";
}

@foreach (var comment in Model)
{
    <p>
        <img class="userPhotoMini" src="@Url.Action("TakeUserPhotos", "Users", new {id = comment.ApplicationUserId})" />
        @Html.DisplayFor(m => comment.Text)
        <p>@Html.DisplayFor(m => comment.CreatedOn)</p>
        <hr />
    </p>
}