
@{
    ViewBag.Title = "_GoogleMapPartial";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<div id="map"></div>
@section scripts
{
    <script>
        function initMap() {
            var uluru = { lat: 43.2228149, lng: 27.9250262 };
            var map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 13,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@Model.ApiKey&callback=initMap">
    </script>
}
