@model OnlineAtelier.Web.Models.ViewModels.Users.InCartViewModel
@{
    ViewBag.Title = "_InCartPartial";
}

<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">@Model.OrderCount</span>