@model OnlineAtelier.Web.Models.AcountViewModels.ProfilePageViewModel
@{
    ViewBag.Title = "Profile Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>@Model.Email</h2>
        <p>
         
            </p>
            <p><img class="userPhoto" src="@Url.Action("UserPhotos", "ProfilePage")" /></p>
        </div>
        <div class="col-md-4">
            @foreach (var order in @Model.Orders)
            {
                <p>1.@order.CreatedOn</p>
            }
        </div>
        <div class="col-md-4">

        </div>
    </div>