@model OnlineAtelier.Web.Models.AcountViewModels.ProfilePageViewModel
@{
    ViewBag.Title = "Profile Page";
}

<div class="row">
    <div class="col-md-2">
        <p>.</p>
        <p><img class="userPhoto" src="@Url.Action("UserPhotos", "ProfilePage")"/>
        </p>
    </div>
    <div class="col-md-10">
        <h3>@Html.DisplayFor(m => m.FullName)</h3>
        <div><h4>@Html.ActionLink("Направи поръчка", "Add" ,"Order")</h4></div>
        <br/>
        <div><h5>Моите Поръчки</h5></div>
        @Html.Action("GetOrders", new {id = Model.Id})
    </div>
</div>