@model OnlineAtelier.Web.Models.AcountViewModels.ProfilePageViewModel
@{
    ViewBag.Title = "Profile Page";
}

<div class="row">
    <div class="col-md-3">
        <br/>
        <p><img class="userPhoto" src="@Url.Action("UserPhotos", "Image")"/>
            <h3>@Html.DisplayFor(m => m.FullName)</h3>
        </p>
        <div><h4>@Html.ActionLink("Направи Поръчка", "Add", "Order", null ,new {@class="btn btn-primary"})</h4>
        </div>
    </div>
    <div class="col-md-9">
        <br/>
        <div class="panel panel-body">
            <br/>            
            <div><h5>Моите Поръчки</h5></div>
            @Html.Action("GetOrders", "Order", new {id = Model.Id})
        </div>
    </div>
</div>