@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.UsersPicture.UserPictureViewModel>
@{
    ViewBag.Title = "_ViewAllUserPicturePartial";
}

<div class="row">
    @foreach (var picture in Model)
    {
        <div class="col-xs-6 col-md-3">
               <a class="thumbnail" href='@Url.Action("TakePhotoDetails", "PhotosOrder", new { id = picture.Id })'>
                    <img src="@Url.Action("TakePhoto", "PhotosOrder", new {id = picture.Id, orderId = picture.OrderId})" />
               </a>
        </div>
    }
</div>