@{
    ViewBag.Title = "Delete";
}

<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
@Html.ActionLink("Назад", "ProfilePage", "Users")

<div class="panel panel-default">
    <h3>Искаш ли да изтриеш тази снимка?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-default"/> |
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}