body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("dots.png");
    background-size: 80px 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set style for profile-images */
.userPhoto {
    width:160px;
    height:160px;
    background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 18px;
    border-radius: 100px;
    padding: 1px;
    box-shadow: 0px 0px 2px #888;
}

.userPhotoMini {
    width:25px;
    height:25px;
    background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 18px;
    border-radius: 23px;
    padding: 1px;
    box-shadow: 0px 0px 2px #888;
}

.userPictures {
      width:171px;
    height:180px;
}

.eli {
    background-color: darkred;
    padding: 1%;
    border-radius: 5px;
}

.noAccept {
    background-color: darkred;
}

.accept {
    color: lightgreen
}

