body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("2.jpg");/*todo move to google drive folder*/
    font-family: Seagoe UI, sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set style for profile-images */
.userPhoto {
    width:160px;
    height:160px;
    /*background: #fceee3;*/
    margin: auto;
    -moz-border-radius: 18px;
    border-radius: 100px;
    padding: 1px;
    /*box-shadow: 0px 0px 2px #888;*/
}

.userPhotoMini {
    width: 30px;
    height:30px;
    /*background: #fceee3;*/
    margin: auto;
    -moz-border-radius: 18px;
    border-radius: 23px;
    padding: 1px;
    /*box-shadow: 0px 0px 2px #888;*/
}

.userPictures {
      width:171px;
    height:180px;
}

.eli {
    background-color: #ca0425;
    padding: 1%;
    border-radius: 5px;
}

.noAccept {
    background-color: #ca0425;
}

.accept {
    color: #658da7;
}

.cont {
    background-color: #fceee3;
}
.navbar-brand {
    font-size: 15pt;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#map {
    height: 400px;
    width: 100%;
}

.btn-eli {
    width:150px;
    height:150px;
    background-color: #fceee3;
    border-radius: 20px;
    box-shadow: 0px 0px 2px #888;
    margin: auto;
    padding: 5px 5px 5px 5px;
}

.btn-eli:hover {
    background-color: #658da7;
    color: #fceee3;
}

.my {
    width: 89%;
    padding: 20px;
    background-color: white;
    border-radius: 18px;
}

.nav-style {
     width: 95%;
}

.my-caption {
    color: #fceee3;
    height: 300pt;
}

.st {
    width: 90%;
    height: 300pt;
}