@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Posts.GalleryPostVm>
@{
    ViewBag.Title = "_PostGalleryPartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-xs-6 col-md-3 thumbnail">
            <a href=''>
                <img src=@post.Image.Url />
            </a>
            <a  href='' >Добави към твоята поръчка</a>
        </div>
    }
</div>