@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Posts.GalleryPostVm>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-xs-6 col-md-3 thumbnail">
            <a href='@Url.Action("Details", "Posts", new {id = post.Id})'>
                <img src=@post.Image.Url />
            </a>  
        </div>
    }
</div>