@model OnlineAtelier.Web.Models.ViewModels.Posts.DetailsPostsVModel

@{
    ViewBag.Title = "Details";
}

<div class="thumbnail">
    <img class="thumbnail" src="@Model.Image.Url" />
    <p>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        @if (User.IsInRole("Admin"))
        {
            <a  href='@Url.Action("All", "AdminPosts", new { area= "Admin"})'>
                Назад
            </a>
        }
        else
        {
            @Html.ActionLink("Назад", "Index", "Home")
        }
    </p>
</div>