@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.UsersPicture.UserPictureViewModel>
@{
    ViewBag.Title = "_ViewAllUserPicturePartial";
}

<div class="row">
    @foreach (var picture in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="@Url.Action("TakePhotos", "UserOrderPicture", new {id = picture.Id, orderId = picture.OrderId})" />
            </a>
        </div>
    }
</div>