@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-4">
        <img class="media-object" style="width: 250pt; height: 150pt;" src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/16708232_1076790435762728_5524855930742450713_n.jpg?oh=9b7e00e236348f60a8ef94e6a096f920&oe=59BDD8B8" alt="...">
    </div>
    <div class="col-sm-8">
        <h3>Кои сме ние?</h3>
        Ние сме With love: Eli :) Работим много, знаем много и не спираме да се развиваме! Благодарим Ви от сърце за невероятно мащабната любовна кампания, за това, че ни гласувате доверие всеки ден, че ни допускате до най-съкровените си моменти! За нас е чест! Бъдете благословени! 🤗❤
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-8">
        <h3>Sed ut perspiciatis</h3>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </div>
    <div class="col-sm-4">
        <img class="media-object" style="width: 180pt; height: 250pt;" src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/13418905_877980418977065_5084825160704286193_n.jpg?oh=2610bbd44587920641cdd681a2d2483b&oe=59C0D25B" alt="...">
    </div>
</div>