@{
    ViewBag.Title = "Contact";
}
<h2>Контакти</h2>

<address>
    ул. Дубровник 46<br />
    Варна, България<br /><br />
    <abbr title="Phone">Телефон:</abbr>
    +359 899 81 74 31
</address>

<address>
    <strong>Имейл:</strong> <a href="mailto:withlove.eli@abv.bg">withlove.eli@abv.bg</a><br />
</address>