@model OnlineAtelier.Web.Models.ViewModels.ContactVm
@{
    ViewBag.Title = "Контакти";
}

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div class="thumbnail">
    <div class="panel-body">
        <h2>Контакти</h2>

        <address>
            ул. Дубровник 46<br />
            Варна, България<br /><br />
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            +359 899 81 74 31
        </address>

        <address>
            <strong>Имейл:</strong> <a href="mailto:withlove.eli@abv.bg">withlove.eli@abv.bg</a><br />
        </address>

        <div id="map"></div>
    </div>
</div>

@section scripts
{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@Model.ApiKey&callback=initMap">
    </script>
}