@{
    ViewBag.Title = "Contact";
}
<div class="thumbnail">
    <div class="panel-body">
    <h2>Контакти</h2>

    <address>
        ул. Дубровник 46<br/>
        Варна, България<br/><br/>
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        +359 899 81 74 31
    </address>

    <address>
        <strong>Имейл:</strong> <a href="mailto:withlove.eli@abv.bg">withlove.eli@abv.bg</a><br/>
    </address>
</div>
</div>