@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Order.DisplayOrderVm>

@{
    ViewBag.Title = "Index";
}

<div class="thumbnail">
    @Html.Partial("_GetAllNewOrdersPartial")
</div> 

<div class="row">
    <div class="col-lg-6">
        @Html.Partial("_AllOrdersPartial", Model.Where(m => !m.IsАccepted))
    </div>
    <div class="col-lg-6">
        @Html.Partial("_AllOrdersPartial", Model.Where(m => m.IsАccepted))
    </div>
</div>