@model OnlineAtelier.Web.Models.ViewModels.Posts.DetailsPostsVModel

@{
    ViewBag.Title = "Details";
}

<div class="thumbnail">
    <img class="thumbnail" src="@Model.Image.Url" />
    <p>
        @Html.ActionLink("Назад", "Index", "Home")
    </p>
</div>