@model IEnumerable<OnlineAtelier.Web.Models.ViewModels.Comments.OrderCommentViewModel>
@{
    ViewBag.Title = "_ViewCommentsPartial";
}

@foreach (var comment in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                <img class="userPhotoMini" src="@Url.Action("TakeUserPhotos", "UserProfilePicture", new {id = comment.ApplicationUserId})" />
                @Html.DisplayFor(m => comment.Text)
            </p>
        </div>
    </div>
}

