@model OnlineAtelier.Web.Models.ViewModels.Publications.DetailsPublicationVModel

@{
    ViewBag.Title = "Details";
}

<div class="thumbnail">
    <img class="thumbnail" src="@Model.PhotoUrl" />
    <p>
        @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Назад", "Index", "Home")
    </p>
</div>